{
    "non-fungible-soup": {
        "contract_address": "0xdc8bEd466ee117Ebff8Ee84896d6aCd42170d4bB",
        "erc1155": false,
        "start_block": 13105421
    },
    "mondriannft": {
        "contract_address": "0x7f81858ea3b43513adfaf0a20dc7b4c6ebe72919",
        "erc1155": false,
        "start_block": 13239362
    },
    "soupxmondrian": {
        "contract_address": "0x0dD0CFeAE058610C88a87Da2D9fDa496cFadE108",
        "erc1155": true,
        "start_block": 13343992
    },
    "bauhausblocks": {
        "contract_address": "0x62C1e9f6830098DFF647Ef78E1F39244258F7bF5",
        "erc1155": false,
        "start_block": 13439681
    },
    "nftzine": {
        "contract_address": "0xc918F953E1ef2F1eD6ac6A0d2Bf711A93D20Aa2b",
        "erc1155": false,
        "start_block": 13698461
    },
    "basedvitalik": {
        "contract_address": "0xea2dc6f116a4c3d6a15f06b4e8ad582a07c3dd9c",
        "erc1155": false,
        "start_block": 14254106
    },
    "rmutt": {
        "contract_address": "0x6c61fB2400Bf55624ce15104e00F269102dC2Af4",
        "erc1155": false,
        "start_block": 14940603
    }
}
